

.timer-count-box{
    background-image: url("../img//label_02.png");
    width: 122px;
    height: 149px;
    border-radius: 6%;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 87px;
    right: 19px;
	
	
}

#timer_counter{
	  position: absolute;
    display: block;
    left: 33px;
    top: 51px;
    color: #000000;
    font-size: 49px;
    font-weight: bold;
}

.ddcontainer{
    padding: 0px 15px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    height: 40%;
    position: absolute;
    left: 20%;
    top: 24%;
    border-radius: 18px;
  }

  p.try-again-text{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 100px;
    color: red;
    font-family: Roboto bold;
  }

  p.good-work-text{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 100px;
    color:green;
    font-family: Roboto bold;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .try-again-btn{
    text-align: center;
    position: relative;
    top: 95px;
}

.try-again-btn-reset{
    background: #84c655;
    border: none;
    font-size: 30px;
    padding: 8px 39px;
    cursor: pointer;
}


